@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

main{
}

.titulo{
	font-weight: 700;
	font-size: 1.5em;
	color: #00AD6B;
}

/* lista de especies */

.datos-mascota{
  background: #e3e3e3;
  padding: 1em;
  max-width: 50%;
}

.info-mascota{
  margin: 1.5em;
}


hr{
  max-width: 50%;
}

.especie-lista{
  display: flex;
}

.especie-lista .fas{
  font-size: 2em;
  color: #0edc9f;
}

.especie-lista .especie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #73f3be;
  margin-right: 1em;  
  height: 6em;
  min-width: 7em;
}

.especie-lista .especie input{
  display: none;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 3px orange;
}

input:checked + label{
	color: green;
}


/* RAZA */
.raza{
  display: flex;
  flex-direction: column;
}

